body {
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: white;
}

@media only screen and (max-width: 768px) {
  body {
    height: auto;
  }
}


/* 取消自動填入預設樣式 */
input:-webkit-autofill{
  border: 0;
  -webkit-text-fill-color: var(--primary-color);
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
{
  transition-delay: 50000s;
  transition: color 50000s ease-out, background-color 50000s ease-out;
  -webkit-transition-delay: 50000s;
  -webkit-transition: color 50000s ease-out, background-color 50000s ease-out;


}



.registerFormContainer {
  height: 100%;
  display: flex;
  background: linear-gradient(
      0deg,
      rgba(11, 21, 48, 0.2) 0%,
      rgba(11, 21, 48, 0.2) 100%
    ),
    url(../img/bg-img/lake.jpg) lightgray 30% / cover no-repeat;
}

@media only screen and (max-width: 991px) {
  .registerFormContainer {
    flex-direction: column-reverse;
  }
}

.header-social-area {
  justify-content: right;
}

.registerFormContainer {
  display: flex;
  justify-content: center;
}

/*leftBox Start*/

.registerBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;

  padding: 4rem 0;
}

.registerBox h5 {
  width: 100%;
  border-bottom: 2px white solid;
}

.registerForm {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerTitle,
.thirdPartyLogin,
.registerForm {
  display: flex;
  width: 75%;
  margin: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.registerTitle {
  background-color: var(--primary-color-75);
  padding: 2rem 0;
}

.thirdPartyLogin,
.registerForm {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1.2rem 1.2rem;
}

@media only screen and (max-width: 991px) {
  .registerForm,
  .thirdPartyLogin {
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .registerForm,
  .thirdPartyLogin {
    width: 85%;
  }
}

.groupIcon {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: aquamarine;
}

.registerItem {
  display: flex;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 3%;
  align-items: center;
  border-bottom: 1px solid white;
}

.thirdPartyLogin .registerItem {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.middleBox {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.leftBox,
.rightBox {
  width: 45%;
}

.bottomBox {
  display: flex;
  width: 90%;
}

.bottomBox .registerItem {
  border: 0;
  display: flex;
  justify-content: center;
}

.alreadyHave {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  color: var(--primary-color-75);
}
.alreadyHave:hover {
  color: white;
}

.registerInput {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  border-radius: 0;
  font-size: 14px;
  font-style: italic;
  color: #ffffff;
  background-color: transparent;
}

.registerInput:focus {
  background-color: transparent;
  border: none;
  outline: none;
}

.registerItem label {
  color: white;
  margin: 0;
  padding-right: 0.1rem;
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
}

.registerItem input {
  display: flex;
  height: 100%;
  padding: 0;
  letter-spacing: 0.1rem;
}

select {
  appearance: none;
  -webkit-appearance: none;
  padding: 5px;
  width: 50%;
  font-size: 16px;
  background-color: transparent;
  border: 0;
  color: white;
}
select:focus {
  border: 0;
}

option {
  background-color: #000;
  border: 0;
  color: white;
}

.eyeIcon {
  border: 0;
  background-color: transparent;
  color:rgba(255, 255, 255, 0.7);
  transition: 0.3s;
}

.eyeIcon:hover {
  color:rgba(255, 255, 255, 1);
}

.eyeIcon:focus{
  outline: none;
}

.registerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80%;
  font-size: 0.9rem;
}

.registerBtn {
  color: white;
  background-color: #192a56;
}

.registerBtn:hover {
  font-size: 0.9rem;
  background-color: white;
  border: 0;
  color: #192a56;
}

.thirdPartyLogin .registerItem {
  width: 90%;
  display: flex;
  align-items: center;
}

.thirdPartyLogin a:hover {
  color: var(--primary-color);
}

.thirdPartyLoginBtn {
  color: white;
  display: flex;
  width: 45%;
  height: 2.5rem;
  padding: 0px 5%;
  margin: 0px 0.3rem;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--white, #fff);
  background: rgba(0, 0, 0, 0);
}

.thirdPartyLoginBtn i {
  padding-right: 0.5rem;
}

/* leftBox End */
/* rightBox Start */

.introduction,
.contact {
  display: flex;
  width: 100%;
  padding: 2rem 10%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1.5rem;
}

@media only screen and (max-width: 991px) {
  .introduction h1 {
    width: 50%;
  }
}
@media only screen and (max-width: 576px) {
  .introduction h1 {
    width: 50%;
  }
}
@media only screen and (max-width: 414px) {
  .introduction h1 {
    width: 70%;
  }
}

.contact {
  display: flex;
}

@media only screen and (max-width: 991px) {
  .introduction {
    padding: 0;
  }
  .contact {
    padding-left: 0;
  }
}

.contactBtn {
  width: 30%;
  background-color: var(--info-color);
  color: white;
  border: 0;
  font-size: 1.5rem;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.contactBtn:hover {
  background-color: white;
  color: var(--info-color);
  font-size: 1.5rem;
}

.contactBtn:focus {
  border: none;
  background-color: white;
  color: var(--info-color);
  font-size: 1.5rem;
}

/* rightBox End */
